*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #ffff;
}
#nav{
    width: 100%;
    height: 100px;
   /* background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50%;
}
#center{
    
    width: 100%;
    /*background-color: beige;*/
    padding: 40px 80px;
}
#center h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
}
#center2{
    
    /*background-color: red;*/
    width: 100%;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}
#center2 p{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    
}
#right{
    width: 20%;
    
}
.elem{
    /*background-color: yellow;*/
   /* margin: 5px;*/
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 35%;
    width: 100%;
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1468112014733-deb9e1f8ddd2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 0 10%;
}

    
    









